:root {
  --gap-1: 1em;
  --gap-2: 2em;
  --gap-3: 3em;
  --gap-4: 4em;
  --gap-5: 5em;
  --gap-6: 6em;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
html {
  height: 100%;
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  font-family: "Bruno Ace SC", arial, helvetica, sans-serif, system-ui;
  font-size: 1rem;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

textarea {
  border: none;
  background-color: transparent;
  width: 100%;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
a:hover,
button:hover {
  cursor: pointer;
}

header {
  position: relative;
  padding-block: var(--gap-1);
}

header .navigation {
  position: absolute;
  top: 60px;
  right: var(--gap-1);
  width: 300px;
  height: 0px;
  background-color: #fad6a5;
  box-shadow: 1rem 1rem 0rem #2c2c2c;
  border-radius: 10px;
  transition: height 500ms ease-in-out;
  z-index: 999;
}

header a {
  color: #000;
  transition: color 500ms ease-out;
}

header a:hover {
  color: #ff9f00;
}

header ul {
  text-align: center;
  flex-direction: column;
  gap: var(--gap-1);
  opacity: 0;
}

header ul li a {
  color: #fff;
  padding: var(--gap-1);
}

section {
  text-align: center;
}

.logo {
  /* font-size: 2rem; */
  font-weight: bold;
  font-family: "Kaushan Script";
}

.logo a {
  color: #ff9f00;
}

.hero {
  color: #fad6a5;
  line-height: 1;
  font-size: 1.2rem;
  padding-block: var(--gap-3);
  background-color: #6699cc;
  height: 700px;
  clip-path: polygon(0 0, 100% 0, 100% 59%, 0 100%);
}

.hero h1 {
  color: #000;
  font-size: clamp(1.5rem, 2rem + 2vw, 4rem);
}

h2 {
  animation: Color 4s linear infinite;
  -webkit-animation: Color 4s ease-in-out infinite;
  text-shadow: 0px 0px #f0f0f0;
}

.hero__text {
  margin-top: var(--gap-2);
}

.hero .intro {
  margin-bottom: 0.5em;
}

.hero .what-i-do {
  color: #ff9f00;
  text-shadow: 2px 2px 3px #000;
  line-height: 1.2;
  margin-top: var(--gap-1);
}

.hero-btn {
  padding: 1em 2em;
  margin-top: var(--gap-4);
  transition: all 500ms ease-out;
}

.hero-btn,
.projects-btn,
.contact-btn {
  font-weight: bold;
  color: #000;
  display: inline-block;
  background-color: #fff;
  border-radius: 99vw;
  box-shadow: 5px 5px 2px #000;
}

.projects-btn.code:hover,
.hero-btn:hover {
  color: #fff;
  background-color: #ff9f00;
}

.about {
  padding-bottom: var(--gap-3);
}

.about__text,
.card__text,
.contact p {
  max-width: 60ch;
}

.about__text {
  margin-inline: auto;
}

.about h2,
.skills h2,
.projects h2,
.contact h2 {
  font-size: clamp(1.5rem, 2rem + 2vw, 4rem);
  color: #a4508b;
}

.about p {
  margin-bottom: var(--gap-2);
}

.about .joke,
.projects h4 {
  color: #fff;
  display: inline-block;
  background-color: #50c878;
  -moz-transform: skew(5deg, 0deg);
  -webkit-transform: skew(5deg, 0deg);
  -o-transform: skew(5deg, 0deg);
  -ms-transform: skew(5deg, 0deg);
  transform: skew(5deg, 0deg);
}

.about .emoji::after {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.about .monkey::after {
  content: "🙈";
  --emoji-1: "🙉";
  --emoji-2: "🙊";
  animation-name: threeFrames;
  animation-duration: 2s;
}

.skills {
  font-weight: bold;
  padding-top: var(--gap-5);
  background-color: #6699cc;
  height: 600px;
  clip-path: polygon(0 0, 100% 0, 100% 59%, 0 100%);
}

.skills h2 {
  line-height: 1;
}

.skills ul {
  text-align: left;
  list-style: none;
  counter-reset: list;
  margin-top: var(--gap-2);
  /* margin-left: var(--gap-3); */
}

.skills ul li {
  counter-increment: list;
  position: relative;
  margin-bottom: var(--gap-2);
}

.skills ul li::before {
  content: counter(list);
  color: #ff9f00;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  --size: 32px;
  left: calc(-1 * var(--size) - 10px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: -5px;
  transform: rotate(-10deg);
  background: black;
  border-radius: 50%;
  text-align: center;
  box-shadow: 4px 4px 0 #fad6a5;
}

.skills .details p {
  color: #fff;
}

.projects {
  margin-bottom: var(--gap-3);
}

.projects h2 {
  line-height: 1;
}

.projects h4 {
  margin-top: var(--gap-1);
  padding: var(--gap-1);
}

.projects ul li {
  font-weight: bold;
  font-size: 1rem;
  font-style: italic;
  line-height: 1.2;
  margin-bottom: 0.5em;
}

.projects ul li::marker {
  font-size: 1.25rem;
  color: #fad6a5;
}

.projects img {
  width: 100%;
  max-height: 400px;
}

.projects .card {
  flex-direction: column;
  margin-top: var(--gap-2);
}

.projects .card__text {
  margin-block: var(--gap-2);
}

.projects .card__text p {
  margin-bottom: var(--gap-1);
}

.projects .card__img {
  border: 2px solid #000;
  padding: var(--gap-1);
  margin-inline: auto;
  max-width: 350px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1em 1em #000;
}

.projects .card__img .btns {
  align-items: flex-start;
  flex: 1;
  gap: 1em;
  margin-top: var(--gap-1);
}

.projects-btn {
  color: #ff9f00;
  text-align: center;
  padding: 0.5em;
  width: 100%;
}

.projects .portfolio .projects-btn {
  width: 50%;
}

.code.projects-btn {
  transition: all 500ms ease-out;
}

.code.projects-btn:hover,
.contact-btn:hover {
  color: #fff;
  background-color: #fad6a5;
}

.site.projects-btn {
  color: #fff;
  background-color: #ff9f00;
  transition: all 500ms ease-out;
}

.site.projects-btn:hover {
  color: #fad6a5;
  background-color: #fff;
}

.contact p {
  color: #000;
  line-height: 1.25;
  margin-inline: auto;
}

.contact h2 {
  line-height: 1;
  margin-bottom: 0.5em;
}

.contact input {
  color: #fff;
  border: 1px solid #000;
  background-color: transparent;
  border-radius: 100vw;
  padding: 0.5em 1em;
  width: 100%;
  margin-top: var(--gap-1);
}

.contact input:-webkit-autofill,
.contact input:-webkit-autofill:hover,
.contact input:-webkit-autofill:focus {
  border-bottom: 5px solid #6699cc;
  -webkit-box-shadow: 0 0 0px 1000px #fad6a5 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.contact input::placeholder,
textarea::placeholder {
  color: #fff;
}

.form__container,
.form .flex__container {
  flex-direction: column;
}

.form__text {
  text-align: center;
  padding-top: var(--gap-3);
}

.form .flex__container {
  margin-top: var(--gap-1);
  padding: 1em;
  max-width: 900px;
  margin-inline: auto;
  box-shadow: 1rem 1rem 0rem #2c2c2c;
  background: #ff9f00;
  border-radius: 16px;
}

.contact input:focus {
  border-bottom: 5px solid #fad6a5;
}

.contact textarea {
  padding: var(--gap-1);
  margin-top: var(--gap-1);
  border: 1px solid #000;
  border-radius: 10px;
}

.textarea,
.contact .inputs {
  max-width: 900px;
}

.contact-btn {
  text-transform: uppercase;
  color: #000;
  padding: 0.5em 2em;
  border: 0;
  max-width: 300px;
  margin-top: var(--gap-1);
}

/* import footer background */
@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");

footer {
  text-align: center;
  padding: 1em;
  margin-top: var(--gap-4);
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-2210775-jpeg.jpg")
    center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

footer .copyright-text {
  font-size: 0.8rem;
  padding-top: var(--gap-6);
}

footer .copyright-text a {
  color: #ff9f00;
}

footer .copyright-text a:hover {
  color: #fad6a5;
}

/* UTILITIES */
.container {
  width: 80%;
  margin-inline: auto;
}

.flex__container {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.hidden {
  display: none;
}

/* MEDIA QUERIES */

@media screen and (min-width: 26.875em) {
  .hero-btn {
    margin-left: 0px;
  }
}

@media screen and (min-width: 34.375em) {
  .hero__text {
    margin-top: var(--gap-3);
  }

  .about__text {
    padding-bottom: var(--gap-2);
  }

  .skills ul {
    display: flex;
    justify-content: space-around;
    margin-top: var(--gap-3);
  }

  .projects .card {
    background-color: #f7e4c9;
    padding: var(--gap-5);
    transform: skew(0deg, 3deg);
    border-radius: 5vw;
  }

  .projects .card__text {
    margin-top: 0px;
  }
}

@media screen and (min-width: 36.25em) {
  header .navigation {
    position: unset;
    inset: unset;
    width: max-content;
    height: 100%;
    background-color: transparent;
    box-shadow: none;
    border-radius: none;
    animation: none;
    -webkit-animation: none;
  }

  header ul {
    display: flex !important;
    text-align: center;
    flex-direction: row !important;
    align-items: center;
    opacity: 1;
    margin: 0px;
  }

  header ul li a {
    color: #000;
    padding: 0px;
  }

  .hamburger-menu {
    display: none;
  }
}

@media screen and (min-width: 46.25em) {
  .skills__text {
    /* margin-top: var(--gap-3); */
  }

  .contact .inputs {
    display: flex;
    justify-content: space-between;
    gap: var(--gap-1);
  }
}

@media screen and (min-width: 53.125em) {
  .hero__text {
    margin-top: var(--gap-6);
  }

  .projects h2 {
    margin-bottom: var(--gap-1);
  }

  .projects .card {
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: var(--gap-2);
    margin-bottom: var(--gap-3);
  }

  .projects-btn,
  .projects ul li {
    font-size: 0.8rem;
  }

  .projects .card__text {
    text-align: left;
    margin-top: 0px;
  }

  .projects .card__img,
  .projects .card__text {
    width: 50%;
  }
}

@media screen and (width > 1000px) {
  .projects-btn {
    font-size: 1rem;
  }
}

/* ANIMATION */

@keyframes Color {
  0% {
    color: #a0d468;
  }

  20% {
    color: #4fc1e9;
  }

  40% {
    color: #ffce54;
  }

  60% {
    color: #fc6e51;
  }

  80% {
    color: #ed5565;
  }

  100% {
    color: #ac92ec;
  }
}

@-moz-keyframes Color {
  0% {
    color: #a0d468;
  }

  20% {
    color: #4fc1e9;
  }

  40% {
    color: #ffce54;
  }

  60% {
    color: #fc6e51;
  }

  80% {
    color: #ed5565;
  }

  100% {
    color: #ac92ec;
  }
}

@-webkit-keyframes Color {
  0% {
    color: #a0d468;
  }

  20% {
    color: #4fc1e9;
  }

  40% {
    color: #ffce54;
  }

  60% {
    color: #fc6e51;
  }

  80% {
    color: #ed5565;
  }

  100% {
    color: #ac92ec;
  }
}

@keyframes threeFrames {
  33.333% {
    content: var(--emoji-1);
  }

  66.666% {
    content: var(--emoji-2);
  }
}

@keyframes BoxShadow {
  50% {
    box-shadow: 10px 15px 40px #50c878;
  }
}
