:root {
  --gap-1: 1em;
  --gap-2: 2em;
  --gap-3: 3em;
  --gap-4: 4em;
  --gap-5: 5em;
  --gap-6: 6em;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
html {
  height: 100%;
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  font-family: "Bruno Ace SC", arial, helvetica, sans-serif, system-ui;
  font-size: 1rem;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

textarea {
  border: none;
  background-color: transparent;
  width: 100%;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
a:hover,
button:hover {
  cursor: pointer;
}

header {
  position: relative;
  padding-block: var(--gap-1);
}

header .navigation {
  /* font-size: 1.5rem; */
  position: absolute;
  top: 60px;
  right: var(--gap-1);
  /* bottom: var(--gap-1); */
  width: 300px;
  height: 0px;
  /* padding-top: var(--gap-1); */
  background-color: #fff;
  /* filter: opacity(90%); */
  box-shadow: 1rem 1rem 0rem #2c2c2c;
  border-radius: 10px;
  animation: BackgroundColor 6s linear infinite;
  -webkit-animation: BackgroundColor 6s ease-in-out infinite;
  /* height: 0px; */
  transition: height 500ms ease-in-out;
  z-index: 999;
}

header a {
  color: #000;
  transition: color 500ms ease-out;
}

header a:hover {
  color: #a4508b;
}

header ul {
  text-align: center;
  flex-direction: column;
  gap: var(--gap-1);
  opacity: 0;
}

header ul li a {
  color: #fff;
  padding: var(--gap-1);
}

.logo {
  /* font-size: 2rem; */
  font-weight: bold;
  font-family: "Kaushan Script";
}

.hero {
  color: #fff;
  line-height: 1;
  /* font-size: 1.2rem; */
  padding-block: var(--gap-3);
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
  /* height: calc(100vh + 30vw); */
  height: 700px;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 39%);
  /* overflow-y: visible; */
}

.hero h1 {
  font-size: clamp(1.5rem, 2rem + 2vw, 4rem);
  /* text-transform: uppercase; */
  animation: Color 4s linear infinite;
  -webkit-animation: Color 4s ease-in-out infinite;
  text-shadow: 0px 0px #f0f0f0;
  /* color: currentColor; */
  /* margin-block: var(--gap-1); */
  /* line-height: 1; */
}

h2 {
  animation: Color 4s linear infinite;
  -webkit-animation: Color 4s ease-in-out infinite;
  text-shadow: 0px 0px #f0f0f0;
}

.hero__text {
  text-align: center;
  margin-top: var(--gap-2);
}

.hero .intro {
  /* font-size: 1.5rem; */
  margin-bottom: 0.5em;
}

.hero .what-i-do {
  /* font-size: 1.25rem; */
  line-height: 1.2;
  margin-top: var(--gap-1);
}

.hero-btn {
  /* isolation: isolate; */
  padding: 1em 2em;
  margin-top: var(--gap-4);
  margin-left: var(--gap-6);
  transition: all 500ms ease-out;
}

.hero-btn,
.projects-btn,
.contact-btn {
  font-weight: bold;
  color: #000;
  display: inline-block;
  background-color: #fff;
  border-radius: 99vw;
  box-shadow: 5px 5px 2px #000;
}

.projects-btn.code:hover,
.hero-btn:hover {
  color: #fff;
  background-color: #a4508b;
}

.about {
  margin-top: calc((-5em - 5vw));
}

.about__text,
.card__text,
.contact p {
  /* font-size: clamp(1rem, 1rem + 1vw, 2rem); */
  max-width: 60ch;
}

.about h2,
.skills h2,
.projects h2,
.contact h2 {
  font-size: clamp(1.5rem, 2rem + 2vw, 4rem);
  color: #a4508b;
}

.about p {
  margin-bottom: var(--gap-2);
}

.about .joke,
.projects h4 {
  color: #fff;
  display: inline-block;
  /* position: absolute; */
  /* padding: 0.25em; */
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
  -moz-transform: skew(5deg, 0deg);
  -webkit-transform: skew(5deg, 0deg);
  -o-transform: skew(5deg, 0deg);
  -ms-transform: skew(5deg, 0deg);
  transform: skew(5deg, 0deg);
  /* transform: skew(22deg, -5deg); */
}

.about .emoji::after {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.about .monkey::after {
  content: "🙈";
  --emoji-1: "🙉";
  --emoji-2: "🙊";
  animation-name: threeFrames;
  animation-duration: 2s;
}

.skills {
  font-weight: bold;
  padding-top: var(--gap-5);
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
  height: 600px;
  clip-path: polygon(0 0, 100% 0, 100% 39%, 0 100%);
  /* clip-path: polygon(0 0, 100% 0, 100% 3%, 0 100%); */
  /* clip-path: polygon(0 0, 100% 0, 100% 41%, 0% 100%); */
}

.skills h2 {
  line-height: 1;
}

.skills ul {
  text-align: center;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: var(--gap-1);
  margin-top: var(--gap-2);
  /* flex-direction: column; */
}

.skills ul li {
  margin-right: var(--gap-2);
}

.skills .details p {
  color: #fff;
}

.fa-brands {
  font-size: 3rem;
}

.details svg,
.fa-react {
  background-color: black;
  border-radius: 5px;
}

.fa-react {
  font-size: 2.7rem;
  color: #5f0a87;
}

.projects {
  margin-bottom: var(--gap-3);
}

.projects h2 {
  line-height: 1;
}

.projects h4 {
  margin-top: var(--gap-1);
  padding: var(--gap-1);
}

.projects ul li {
  font-weight: bold;
  font-size: 1rem;
  font-style: italic;
  line-height: 1.2;
  margin-bottom: 0.5em;
}

.projects ul li::marker {
  font-size: 1.25rem;
  color: #5f0a87;
}

.projects img {
  /* max-width: 300px; */
  aspect-ratio: 1;
  object-fit: cover;
}

.projects .card {
  flex-direction: column;
  /* margin-top: var(--gap-2); */
}

.projects .card__text {
  /* font-size: clamp(1rem, 1rem + 0.5vw, 1.5rem); */
  margin-block: var(--gap-2);
}

.projects .card__img {
  border: 1px solid #5f0a87;
  padding: var(--gap-1);
  margin-inline: auto;
  max-width: 350px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 5px 5px solid black;
}

.projects .card__img .btns {
  align-items: flex-start;
  flex: 1;
  gap: 1em;
  margin-top: var(--gap-1);
  /* flex-basis: 100%; */
  /* flex-direction: column;
  align-items: flex-start; */
}

.projects-btn {
  color: #5f0a87;
  text-align: center;
  padding: 0.5em;
  width: 100%;
}

.projects .portfolio .projects-btn {
  width: 50%;
}

.code.projects-btn {
  transition: all 500ms ease-out;
}

.code.projects-btn:hover,
.contact-btn:hover {
  color: #fff;
  background-color: #a4508b;
}
.site.projects-btn {
  color: #fff;
  background-color: #a4508b;
  transition: all 500ms ease-out;
}

.site.projects-btn:hover {
  color: #a4508b;
  background-color: #fff;
}

.contact {
  position: relative;
  min-height: 800px;
}

.contact p {
  color: #fff;
  line-height: 1.25;
  margin-inline: auto;
  /* font-weight: bold; */
}

.contact input {
  color: #fff;
  border: 1px solid #000;
  /* background-color: white; */
  background-color: transparent;
  border-radius: 100vw;
  padding: 0.5em 1em;
  width: 100%;
  margin-top: var(--gap-1);
}

.contact input::placeholder,
textarea::placeholder {
  color: #fff;
}

.form {
  position: absolute;
  top: 13em;
  right: 0;
  left: 0;
  z-index: 10;
}

.form__container,
.form .flex__container {
  flex-direction: column;
}

.form__text {
  text-align: center;
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
  height: 600px;
  padding-top: var(--gap-3);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 39%);
}

.form .container {
  margin-top: var(--gap-1);
  padding: 1em;
  animation: BackgroundColor 6s linear infinite;
  -webkit-animation: BackgroundColor 6s ease-in-out infinite;
  max-width: 900px;
  border: 1px solid #a4508b;
  border-radius: 10px;
  box-shadow: 1rem 1rem 0rem #2c2c2c;
}

.contact textarea {
  padding: var(--gap-1);
  margin-top: var(--gap-1);
}

textarea:focus,
input:focus {
  outline-color: #5f0a87;
}

.textarea,
.contact .inputs {
  max-width: 900px;
}

.contact-btn {
  text-transform: uppercase;
  color: #000;
  padding: 0.5em 2em;
  border: 0;
  max-width: 300px;
  margin-top: var(--gap-1);
}

footer {
  text-align: center;
  color: #fff;
  padding: 1em;
  margin-top: var(--gap-4);
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
}

footer a {
  color: #bd7aa9;
}

/* UTILITIES */
.container {
  width: 80%;
  margin-inline: auto;
}

.flex__container {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.hidden {
  display: none;
}

/* MEDIA QUERIES */

@media screen and (min-width: 26.875em) {
  .hero-btn {
    margin-left: 0px;
  }
}

@media screen and (min-width: 34.375em) {
  .hero__text {
    margin-top: var(--gap-3);
  }

  .about__text {
    padding-bottom: var(--gap-2);
  }
}

@media screen and (min-width: 36.25em) {
  header .navigation {
    position: unset;
    inset: unset;
    width: max-content;
    height: 100%;
    background-color: transparent;
    box-shadow: none;
    border-radius: none;
    animation: none;
    -webkit-animation: none;
  }

  header ul {
    display: flex !important;
    text-align: center;
    flex-direction: row !important;
    align-items: center;
    opacity: 1;
    margin: 0px;
  }

  header ul li a {
    color: #000;
    padding: 0px;
  }

  .hamburger-menu {
    display: none;
  }
}

@media screen and (min-width: 46.25em) {
  .skills__text {
    margin-top: var(--gap-3);
  }

  .contact .inputs {
    display: flex;
    justify-content: space-between;
    gap: var(--gap-1);
  }
}

@media screen and (min-width: 53.125em) {
  .hero__text {
    margin-top: var(--gap-6);
  }

  .projects h2 {
    margin-bottom: var(--gap-1);
  }

  .projects .card {
    flex-direction: row;
    align-items: flex-start;
    gap: var(--gap-2);
    margin-bottom: var(--gap-3);
  }

  .projects .card__text {
    margin-top: 0px;
  }

  .projects .card__img,
  .projects .card__text {
    width: 50%;
  }
}

/* ANIMATION */

@keyframes Color {
  0% {
    color: #a0d468;
  }

  20% {
    color: #4fc1e9;
  }

  40% {
    color: #ffce54;
  }

  60% {
    color: #fc6e51;
  }

  80% {
    color: #ed5565;
  }

  100% {
    color: #ac92ec;
  }
}

@-moz-keyframes Color {
  0% {
    color: #a0d468;
  }

  20% {
    color: #4fc1e9;
  }

  40% {
    color: #ffce54;
  }

  60% {
    color: #fc6e51;
  }

  80% {
    color: #ed5565;
  }

  100% {
    color: #ac92ec;
  }
}

@-webkit-keyframes Color {
  0% {
    color: #a0d468;
  }

  20% {
    color: #4fc1e9;
  }

  40% {
    color: #ffce54;
  }

  60% {
    color: #fc6e51;
  }

  80% {
    color: #ed5565;
  }

  100% {
    color: #ac92ec;
  }
}

@keyframes threeFrames {
  33.333% {
    content: var(--emoji-1);
  }

  66.666% {
    content: var(--emoji-2);
  }
}

/* background animations */

@keyframes BackgroundColor {
  0% {
    background-color: #5f0a87;
  }
  20% {
    background-color: #eabfcb;
  }

  40% {
    background-color: #c191a1;
  }

  80% {
    background-color: #a4508b;
  }

  100% {
    background-color: #5f0a87;
  }
}

@-moz-keyframes BackgroundColor {
  0% {
    background-color: #eabfcb;
  }

  40% {
    background-color: #c191a1;
  }

  80% {
    background-color: #a4508b;
  }

  100% {
    background-color: #5f0a87;
  }
}

@-webkit-keyframes BackgroundColor {
  0% {
    background-color: #eabfcb;
  }

  40% {
    background-color: #c191a1;
  }

  80% {
    background-color: #a4508b;
  }

  100% {
    background-color: #5f0a87;
  }
}
